<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>ID</th>
      <th>TypeID/分类名</th>
      <th>名称</th>
      <th>图片</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0;i< data.length; i++) {%>
    <tr>
      <td><%= data[i].id %></td>
      <td><%= data[i].typeId %>/<%= data[i].typeName %></td>
      <td><%= data[i].comName %></td>
      <td><img src=<%= data[i].imgUrl %> alt=""></td>
      <td>
          <a href="{{host}}/admin?go=typeContentNameEdit&id=<%=data[i].id %>">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">
                <i class="layui-icon">&#xe642;</i>
            </button>
          </a>&nbsp;&nbsp;
          <!-- 弹出层 -->
          <a class="del" id=<%= data[i].id %>>
              <button type="button" class="layui-btn layui-btn-sm">
                  <i class="layui-icon">&#xe640;</i>
              </button>
          </a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<div>
    <%- pages %>
</div>
<!-- <script src="../layui/layui.js"></script> -->


<script>
  //JavaScript代码区域

  layui.use(['layer', 'jquery'], function () {
    var layer = layui.layer;
    var $ = layui.jquery;

    $('.del').click(function () {

      // 获取id
      var id = $(this).attr('id')

      //询问框
      layer.confirm('确定删除当前数据吗？', {

        btn: ['确定', '取消'] //按钮

      }, function () {

        location.href = `{{host}}/admin?go=typeContentList&id=${id}`;

      });

    })
  }); 
</script>