<form class="layui-form" action="admin/typeName" style="margin-top:50px; width: 600px;" method="POST">

    <input type="hidden" name="go" id="go" value="typeContentAdd">

    <!-- 分类名  name="typeId" -->
    <div class="layui-form-item">
      <label class="layui-form-label" style="text-align: left;">一级分类名称：</label>
      <div class="layui-input-block">
        <select name="typeId" id="typeId" lay-verify="required">
          <option value="">请选择所属分类</option>
          <% for(var i=0;i< data.length; i++) {%>
            <option value=<%=data[i].id%>><%=data[i].typeName%></option>
          <% } %>
        </select>
      </div>
    </div>
    
    <!-- 商品名修改   name="title" -->
    <div class="layui-form-item">
        <label class="layui-form-label">二级商品名：</label>
        <div class="layui-input-block">
          <input type="text" name="title" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>

     <!-- 图片地址   name="url" -->
    <div class="layui-form-item">
      <label class="layui-form-label">商品图片</label>
      <div class="layui-input-block">
        <input type="text" name="url" required  lay-verify="required" placeholder="请输入图片地址" autocomplete="off" class="layui-input">
      </div>
  </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <input class="layui-btn" lay-submit lay-filter="formDemo" type="submit" value="立即提交"></input>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
   
  <script>
  //Demo
  layui.use('form', function(){
    var form = layui.form;

  });
  </script>