@charset "UTF-8";
html,body,div, span,p,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
fieldset,img{border:0}
img{display:block}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
ul,ol{list-style:none}
input{padding-top:0;padding-bottom:0;font-family:"SimSun","宋体"}
input::-moz-focus-inner{border:0;padding:0}
select,input{vertical-align:middle}
select,input,textarea{font-size:12px;margin:0}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none}
textarea{resize:none}
table{border-collapse:collapse}
body{color:#333;font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;background:#fff}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clearfix{zoom:1}
.clearit{clear:both;height:0;font-size:0;overflow:hidden}
.fl{float:left;_display:inline}
.fr{float:right;_display:inline}
a{color:#666;text-decoration:none}
a:visited{color:#666}
a:hover,a:active,a:focus{color:#ff8400;text-decoration:underline}
.hidden{visibility:hidden}

q:before, q:after, blockquote:before, blockquote:after {
content: "";
}

.clear {clear:both;}

.hide {display:none;}

.yahei {
	font-family: '微软雅黑',Microsoft YaHei;
}

.sonti {
	font-family: '宋体';
}