<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
      <a class="" href="javascript:;">一级分类管理</a>
      <dl class="layui-nav-child">
        <dd><a href="{{host}}/admin?go=typeNameAdd">新增一级分类</a></dd>
        <dd><a href="{{host}}/admin?go=typeNameList">一级分类列表</a></dd>
      </dl>
    </li>

    <li class="layui-nav-item layui-nav-itemed">
      <a class="" href="javascript:;">二级分类管理</a>
      <dl class="layui-nav-child">
        <dd><a href="{{host}}/admin?go=typeContentAdd">新增二级分类</a></dd>
        <dd><a href="{{host}}/admin?go=typeNameList">二级分类列表</a></dd>
      </dl>
    </li>


    <li class="layui-nav-item">
        <a class="" href="javascript:;">三级分类管理</a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">一级分类列表</a></dd>
          <dd><a href="javascript:;">二级分类列表</a></dd>
          <dd><a href="javascript:;">三级分类列表</a></dd>
        </dl>
    </li>

    <li class="layui-nav-item">
      <a href="javascript:;">产品管理</a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">新增产品</a></dd>
        <dd><a href="javascript:;">产品列表</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="">云市场</a></li>
    <li class="layui-nav-item"><a href="">发布商品</a></li>
  </ul>